table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 4px 6px 4px 6px;
}

td {
  text-align: center;
}

button {
  height: 30px;
  width: 250px;
  outline: none;
}

td.calendarName, th.calendarName {
  text-align: left;
}
